<h3>Log in and find your best deals!</h3>

<form action="/sessions/create" class="col-md-3">
    <label>Email:</label>
    <input type="text" name="email" class="form-control input-sm" placeholder="Email Address">
    <br>
    <label>Password:</label>
    <input type="password" name="pwd" class="form-control input-sm" placeholder="password">
    <br>
    <input type="submit" class="btn btn-success btn-md pull-right">
</form>

