<div class="page-header">
  <%= link_to "Add a New Deals", "/deals/new", :class => "btn btn-md btn-success pull-right" %>
  <h1>
    Tablet Deals
    <h3>Displaying 1 deals.</h3>
  </h1>
</div>


<div class="row">
                <div class="col-md-1">
                  <a> Photo </a>
                </div>
                <div class="col-md-6">
                  <a> Deals </a>
                </div>
                <div class="col-md-2">
                  <a> Posted Date </a>
                </div>
</div>

  <div class="row">

    <div class="col-md-1">
      <a href="/deals/aaaa/show">
        <img width="100" src="http://ecx.images-amazon.com/images/I/31rWhdb1fXL.jpg">
      </a>
    </div>

    <div class="col-md-6">
      <h3>
        <a href="/deals/aaaa/show">Google Nexus 7 Tablet (7-Inch, 32GB, Black) by ASUS (2013)</a>
      </h3>

      <p class="lead">Deal price: $239</p>
     </div>

    <div class="col-md-2">
      <h3>
        <p> 2014-02-12 </p>

     </div>
  </div>
<div class="row">

    <div class="col-md-1">
      <a href="/deals/aaaa/show">
        <img width="100" src="http://ecx.images-amazon.com/images/I/31rWhdb1fXL.jpg">
      </a>
    </div>

    <div class="col-md-6">
      <h3>
        <a href="/deals/aaaa/show">Google Nexus 7 Tablet (7-Inch, 32GB, Black) by ASUS (2013)</a>
      </h3>

      <p class="lead">Deal price: $239</p>
     </div>

    <div class="col-md-2">
      <h3>
        <a> Posted Date </a> </h3>

        <p> 2014-02-12 </p>

     </div>
  </div>

