<!-- # Today's hotdeals -->
<div class="page-header">
<h2>About Us</h2>
</div>
<div class="">
e-Hotdeal.com promises to give great deals to everyone, benefitting all buyers in the world.

You will say "Wow!!"

</div>
